@import "tailwindcss";
body
{
  
  background-color: #F3F3F3;
  
  margin-left: 0%;
  font-family: "Space Grotesk", sans-serif;
  width: 1440px;
}
@media screen and (max-width: 500px) {
  body
  {
    width: 400px !important;
    margin-left: 20px !important;
    background-color: #F3F3F3;
      font-family: "Space Grotesk", sans-serif;
  }
}